/* START OF RESET */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

p,
h1,
h2, h3, h4 {
    margin: 0;
    padding: 0;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: 0;
}

/* dark mode preference */

@media (prefers-color-scheme: dark) {
    body {
        background-color: hsl(0, 3%, 16%);
        color: #fff;
    }
}

/* ENDING OF RESET */

@font-face {
    font-family: "Roboto";
    src: url("./assets/font/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/font/Roboto-Bold.ttf");
    font-weight: bold;
}

body {
    font-family: "Roboto", sans-serif, Helvetica;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    margin: 0;

    /* vars */

    --sidebar-bg: #1992d4;
    --searchbar-bg: #e2e8f0;
    --text-dark: #000;
    --text-light: #fff;
    --gold: #f0b429;

    --debug-border-1: 2px solid #ff0000;
    --debug-border-2: 2px solid #00ff00;
    --debug-border-3: 2px solid #0000ff;
    --debug-border-4: 2px solid #ffff00;
    --debug-border-5: 2px solid #00ffff;
    --debug-border-6: 2px solid #ff00ff;
    --debug-border-7: 2px solid #000000;
    --debug-border-8: 2px soliid #f194bb;
    --debug-border-9: 2px solid #d52971;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/* ---------------------- Sidebar ------------------------------ */
main .sidebar {
    background-color: var(--sidebar-bg);
    padding: 1rem;

}

main .sidebar .logo {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;
}

main .sidebar .logo img {
    width: 2rem;
    height: 2rem;
}

main .sidebar .logo h1 {
    font-size: .8rem;
    font-weight: 700;
    color: var(--text-light);
}

main .sidebar .user-related {
    margin-bottom: 2rem;
}

main .sidebar .system-related,
main .sidebar .user-related {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

main .sidebar .system-related ul li,
main .sidebar .user-related ul li {
    list-style: none;
    transition: all .2s ease-in-out;
}

main .sidebar .system-related ul li:hover,
main .sidebar .user-related ul li:hover {
    background-color: #2626bb;
    border-radius: 15px;
}

main .sidebar .system-related ul li a,
main .sidebar .user-related ul li a {
    display: flex;
    align-items: end;
    gap: .5rem;
    padding: .5rem 0;
    color: var(--text-light);
    text-decoration: none;
    font-size: .65rem;
    font-weight: 700;
}

main .sidebar .system-related ul li a img,
main .sidebar .user-related ul li a img {
    width: 1rem;
    height: 1rem;
}


/* ---------------------- Content ------------------------------ */
main .content {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: 1fr 4fr;

}

/* Header */
main .content .header {
    display: grid;
    grid-template-rows: 1.5fr 2fr;

}

main .content .header .header__search {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding: 0.5rem .4rem;
}

main .content .header .header__search .searchbar {
    display: flex;
}

main .content .header .header__search .searchbar img {
    width: 1rem;
    height: 1rem;
}

main .content .header .header__search .searchbar input {
    border: none;
    border-radius: 15px;
    padding: .2rem .5rem;
    width: clamp(10rem, 80%, 20rem);
    background-color: var(--searchbar-bg);
    font-size: .65rem;
}

main .content .header .header__search .account {
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
    align-items: center;
}

main .content .header .header__search .account__notifications {
    width: 1rem;
    height: 1rem;
}

main .content .header .header__search .account__avatar {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    border: 1px solid #fff;
}


main .content .header .header__search .account__username {
    font-size: .65rem;
    font-weight: 700;
    color: var(--text-dark);
    text-decoration: none;
}

main .content .header .header__greeting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .5rem;
}
main .content .header .header__greeting .greeting__user {
    display: flex;
    align-items: center;
    gap: .5rem;
}

main .content .header .header__greeting .greeting__user .greeting__user--avatar{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid #fff;

}

main .content .header .header__greeting .greeting__user .greeting__user--username {
    font-size: 1rem;
    color: var(--text-dark);
    text-decoration: none;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}

main .content .header .header__greeting .greeting__user .greeting__user--username span {
    font-size: .65rem;
}

main .content .header .header__greeting .action__btns {
    display: flex;
    gap: .5rem;
}

main .content .header .header__greeting .action__btns button {
    border-radius: 15px;
    padding: .2rem .8rem;
    background-color: var(--sidebar-bg);
    color: var(--text-light);
    font-size: .65rem;
    transition: all .2s ease-in-out;
    border: 1px solid var(--sidebar-bg);
}

main .content .header .header__greeting .action__btns button:hover {
    background-color: #fff;
    color: var(--text-dark);
    cursor: pointer;
}

/* Projects and announcements */

main .content .projects-announcements {
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    background-color: var(--searchbar-bg);

    padding: 1.2rem 0 1rem 1rem;

}

main .content .projects-announcements .projects .projects-container{
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    margin-top: .5rem;
    row-gap: 1rem;
    column-gap: clamp(.5rem, 1rem, 1.5rem);
}

main .content .projects-announcements .projects .projects-container .project-card {
    background-color: var(--text-light);
    border-radius: 15px;
    padding: 1rem;
    font-size: .55rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: clamp(7rem, 8rem, 12rem);
    max-width: 18rem;

    border-left: 3.4px solid var(--gold);
}


.projects .projects-container .project-card h4 {
    font-size: .6rem;
    font-weight: 700;
    margin-bottom: .2rem;
}

.projects .projects-container .project-card .description {
    color: #666;
}

.projects .projects-container .project-card .action-btns {
    display: flex;
    justify-content: flex-end;
    gap: .2rem;
}

.projects .projects-container .project-card .action-btns button {
    width: 1rem;
    height: 1rem;
}


/* Announcements  */
main .content .projects-announcements .announcements {
    padding-inline: .7rem;
}

main .content .projects-announcements h3 {
    font-size: .65rem;
}

main .content .projects-announcements ul.trending-list,
main .content .projects-announcements ul.announcements-list {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--text-light);
    padding: 1rem;
    border-radius: 15px;
}

main .content .projects-announcements .announcements h3 {
    margin-bottom: .5rem;
}

main .content .projects-announcements ul.announcements-list li {
    border-bottom: 1.4px solid #ccc;
    padding: .9rem 0;
}

main .content .projects-announcements ul.announcements-list li:last-child {
    border-bottom: none;
}

main .content .projects-announcements ul.announcements-list li a {
    color: var(--text-dark);
    text-decoration: none;
    font-size: .55rem;

}

ul.announcements-list li a .title {
    font-weight: 700;
    margin-bottom: .2rem;
}

ul.announcements-list li a .description {
    font-size: .5rem;
    color: #666;
}

main .content .projects-announcements .announcements .announcements-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 1.4rem);
}

/* main .content .projects-announcements .announcements .trending {
    margin-top: 1.5rem;
} */

main .content .projects-announcements ul.trending-list {
    display: flex;
    flex-direction: column;
    gap: .9rem;
}

main .content .projects-announcements ul.trending-list li a {
    color: var(--text-dark);
    text-decoration: none;
    font-size: .55rem;
    display: flex;
    gap: 1rem;
}

main .content .projects-announcements ul.trending-list li a .avatar {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid #fff;
}

main .content .projects-announcements ul.trending-list li a .username {
    font-weight: 700;
}

main .content .projects-announcements ul.trending-list li a .project {
    color: #666;
}