/* START OF RESET */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
    padding: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

p,
h1,
h2 {
    margin: 0;
    padding: 0;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: 0;
}

/* dark mode preference */

@media (prefers-color-scheme: dark) {
    body {
        background-color: hsl(0, 3%, 16%);
        color: #fff;
    }
}

/* ENDING OF RESET */

@font-face {
    font-family: "Roboto";
    src: url("./assets/font/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/font/Roboto-Bold.ttf");
    font-weight: bold;
}

body {
    font-family: "Roboto", sans-serif, Helvetica;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    margin: 0;

    /* vars */

    --sidebar-bg: #1992d4;
    --searchbar-bg: #e2e8f0;
    --text-dark: #000;
    --text-light: #fff;

    --debug-border-1: 2px solid #ff0000;
    --debug-border-2: 2px solid #00ff00;
    --debug-border-3: 2px solid #0000ff;
    --debug-border-4: 2px solid #ffff00;
    --debug-border-5: 2px solid #00ffff;
    --debug-border-6: 2px solid #ff00ff;
    --debug-border-7: 2px solid #000000;
    --debug-border-8: 2px soliid #f194bb;
    --debug-border-9: 2px solid #d52971;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/* ---------------------- Sidebar ------------------------------ */
main .sidebar {
    background-color: var(--sidebar-bg);
    padding: 1rem;

    border: var(--debug-border-1);
}

main .content {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    padding-bottom: 2rem;
    display: grid;
    grid-template-rows: 1fr 4fr;

    border: var(--debug-border-2);
    padding: 0 1rem;
}

/* ---------------------- Content ------------------------------ */

/* Header */
main .content .header {
    display: grid;
    grid-template-rows: 1.5fr 2fr;

    border: var(--debug-border-3);
}

main .content .header .header__search {
    border: var(--debug-border-4);
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding: 0.5rem .4rem;
}

main .content .header .header__search .searchbar {
    display: flex;
}

main .content .header .header__search .searchbar img {
    width: 1rem;
    height: 1rem;
}

main .content .header .header__search .searchbar input {
    border: none;
    border-radius: 15px;
    padding: .2rem .5rem;
    width: clamp(10rem, 80%, 20rem);
    background-color: var(--searchbar-bg);
    font-size: .65rem;
}

main .content .header .header__search .account {
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
    align-items: center;
}

main .content .header .header__search .account__notifications {
    width: 1rem;
    height: 1rem;
}

main .content .header .header__search .account__avatar {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    border: 1px solid #fff;
}


main .content .header .header__search .account__username {
    font-size: .65rem;
    font-weight: 700;
    color: var(--text-dark);
    text-decoration: none;
}

main .content .header .header__greeting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .5rem;
    border: var(--debug-border-5);
}
main .content .header .header__greeting .greeting__user {
    display: flex;
    align-items: center;
    gap: .5rem;
}

main .content .header .header__greeting .greeting__user .greeting__user--avatar{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid #fff;

}

main .content .header .header__greeting .greeting__user .greeting__user--username {
    font-size: 1rem;
    color: var(--text-dark);
    text-decoration: none;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}

main .content .header .header__greeting .greeting__user .greeting__user--username span {
    font-size: .65rem;
}

main .content .header .header__greeting .action__btns {
    display: flex;
    gap: .5rem;
}

main .content .header .header__greeting .action__btns button {
    border: 1px solid var(--sidebar-bg);
    border-radius: 15px;
    padding: .2rem .8rem;
    background-color: var(--sidebar-bg);
    color: var(--text-light);
    font-size: .65rem;
    transition: all .2s ease-in-out;
}

main .content .header .header__greeting .action__btns button:hover {
    background-color: #fff;
    color: var(--text-dark);
    cursor: pointer;
}

/* Projects and announcements */

main .content .projects-announcements {
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    grid-gap: .5rem;

    border: var(--debug-border-6);
}

main .content .projects-announcements .projects {
    border: var(--debug-border-7);
}

main .content .projects-announcements .announcements {
    border: var(--debug-border-8);
}

main .content .projects-announcements h3 {
    font-size: .65rem;
}